onnxruntime
sounddevice
soundfile
setuptools==80.9.0
webrtcvad
openai-whisper
edge_impulse_linux
pyaudio
opencv-python
spidev
python-periphery
Pillow
ollama
#Check if needed


spidev
gpiozero
librosa
transformers
requests
